/* Базовые стили и переменные */
@font-face {
	font-family: 'Hind';
	src: url('/fonts/Hind-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('/fonts/Hind-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('/fonts/Hind-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('/fonts/Hind-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('/fonts/Hind-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}



:root {
	--primary-color: #0d6efd;
	--text-color: #212529;
	--navbar-color: #343a40;
	--secondary-color-light: #f8f9fa;
	--bs-body-bg: #ffffff;
	--bs-body-color: #212529;
}

/* Общий стиль для ссылок с подчеркиванием */
.phone, .accaunt, .nav-item .nav-link {
	position: relative;
	display: inline-block;
	color: var(--primary-color);
	text-decoration: none;
	padding: 0;
	white-space: nowrap;
}

	.phone::after, .accaunt::after, .nav-item .nav-link::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 1px;
		background-color: var(--primary-color);
		transition: width 0.5s ease-in-out;
	}

	.phone:hover::after, .accaunt:hover::after, .nav-item .nav-link:hover::after,
	.nav-item .nav-link.active::after {
		width: 100%;
	}

/* Стили для навигации */
.navbar {
	background-color: var(--navbar-color) !important;
	color: var(--text-color) !important;
	border-radius: 50px;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.logo {
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
}

.navbar-toggler {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 25px;
}

.burger-line {
	width: 25px;
	height: 2px;
	background-color: var(--text-color);
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-toggler:hover .burger-line:nth-child(1) {
	transform: translateX(-5px);
}

.navbar-toggler:hover .burger-line:nth-child(3) {
	transform: translateX(5px);
}

.offcanvas-backdrop {
	display: none !important;
	transition: none !important;
}

.offcanvas.show ~ .offcanvas-backdrop {
	display: block !important;
}

/* Стили для форм и кнопок */
.form-control {
	background-color: #212529 !important;
	color: #ffffff !important;
	border: 1px solid #555 !important;
}

	.form-control::placeholder {
		color: #6C727F !important;
		opacity: 1;
	}

.btn-submit {
	background-color: #555 !important;
	color: #ffffff !important;
	border: none !important;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

	.btn-submit:hover {
		background-color: #666 !important;
		transform: translateX(5px);
	}

/* Стили для выпадающего меню */
.dropdown-menu {
	background-color: var(--dropdown-menu-color) !important;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
	border-radius: 0.4rem !important;
	border: var(--dropdown-border) !important;
	padding: 10px !important;
	min-width: 150px !important;
	color: var(--text-color) !important;
	margin-top: 25px !important;
	z-index: 1000 !important;
}

	.dropdown-menu.show {
		animation: fadeIn 0.1s ease-in-out !important;
	}

.dropdown-item {
	display: flex !important;
	align-items: center !important;
	justify-content: flex-start !important;
	cursor: pointer !important;
	padding: 10px 16px !important;
	margin: 5px 0 !important;
	border-radius: 0.4rem !important;
	transition: background-color 0.3s ease, color 0.3s ease !important;
	color: var(--dropdown-item-text-color, var(--text-color)) !important;
}

	.dropdown-item.active {
		background-color: var(--dropdown-item-active-color) !important;
		color: var(--text-color) !important;
		font-weight: 500 !important;
		border-radius: 0.5rem !important;
	}

/* Медиа-запросы */
/* media-queries.css */

/* Для очень маленьких экранов (мобильные телефоны) */
@media (max-width: 666px) {
	body, .dropdown-menu {
		font-size: 12px !important; /* Уменьшает размер шрифта */
	}
}

/* Для небольших экранов (планшеты и небольшие устройства) */
@media (min-width: 667px) and (max-width: 991px) {
	body, .dropdown-menu {
		font-size: 14px !important; /* Немного увеличивает размер шрифта по сравнению с очень маленькими экранами */
	}
}

/* Для средних экранов (например, небольшие десктопы и планшеты в ландшафтной ориентации) */
@media (min-width: 992px) {
	body, .dropdown-menu {
		font-size: 16px !important; /* Стандартный размер шрифта для больших экранов */
	}
}



/* Установка ширины для оффканвас-меню на экранах до 667px */
@media (max-width: 667px) {
	.offcanvas-custom {
		width: 60%; /* Открытие на 90% экрана */
		max-width: 300px; /* Максимальная ширина */
	}
}

/* Установка ширины для offcanvas на экранах от 668px до 1024px */
@media (min-width: 668px) and (max-width: 1024px) {
	.offcanvas-custom {
		width: 75%; /* Открытие на 75% экрана */
		max-width: 400px; /* Максимальная ширина */
	}
}




@media (min-width: 992px) {
	.offcanvas-body {
		display: flex;
		justify-content: center;
	}

	.navbar-nav {
		text-align: center;
	}
}



